@mixin title($text-align: center) {
  font-weight: 500;
  text-align: $text-align;
  color: var(--clr-text-primary);
}

@mixin subtitle($text-align: center) {
  margin: 1em auto;
  max-width: 425px;
  font-size: 0.95rem;
  text-align: $text-align;
  color: var(--clr-text-secondary);
}

@mixin cta-btn-primary {
  border: 2px solid transparent;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--accent-primary);
  color: whitesmoke;
  text-align: center;

  &:hover {
    border-color: var(--accent-primary);
    background-color: transparent;
    color: var(--accent-primary);
  }
}
