@use "./config";
@use "./nav";
@use "./hero";

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  margin: 2em auto;

  & > * {
    grid-column: 2/-2;
    width: 100%;
  }
}

.d-none {
  display: none !important;
}
