$primary-font-stack: "Space Grotesk", sans-serif;

$clr-primary-background: hsl(0, 0%, 100%);
$clr-error: hsl(0, 100%, 66%);
$clr-1-gradient-input-border: hsl(249, 99%, 64%);
$clr-2-gradient-input-border: hsl(278, 94%, 30%);
$clr-input-value: hsl(270, 3%, 87%);
$clr-label-text: hsl(279, 6%, 55%);
$clr-btn-background: hsl(278, 68%, 11%);

$medium-screen: 768px;
