@import url("../styles/utility.css");

:root,
:root::before,
:root::after {
  --primary-background-color: hsl(225, 100%, 94%);
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 100vh;
  background: url("./images/pattern-background-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-background-color);
  font-family: "Red Hat Display", sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    background: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--primary-background-color);
  }
}

h1 {
  margin-top: 0;
}

input[type="button"] {
  border: 0;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
}

.hero {
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1em;
  width: 20em;
  background-color: hsl(225, 100%, 98%);
}

.hero__img {
  width: 100%;
}

.card {
  padding: 1.5em;
  text-align: center;
}

.card__title,
.plan-details__duration {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.card__title {
  font-size: 1.4rem;
}

.card__info {
  margin: 1em 0.7em;
  font-size: 0.95rem;
  line-height: 1.5em;
  color: hsl(224, 23%, 55%);
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1.5em auto;
  border-radius: 0.6em;
  padding: 1em 0.8em;
  background-color: hsla(225, 100%, 94%, 0.3);
}

.plan__img {
  margin-right: 1.5em;
  height: 100%;
}

.plan-details {
  flex-grow: 1;
  text-align: left;
}

.plan-details__duration {
  font-size: 0.85rem;
}

.plan-details__price {
  font-size: 0.85rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.plan__change-btn {
  font-size: 0.8rem;
  font-weight: 800;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
}

.plan__change-btn:hover,
.cta__primary:hover {
  opacity: 0.6;
  text-decoration: none;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cta__primary,
.cta__cancel {
  border-radius: 0.6em;
  padding: 0.75em;
  font-size: 1rem;
  font-weight: 700;
}

.cta__primary {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
}

.cta__cancel {
  margin: 0 auto;
  width: min-content;
  background-color: hsla(0, 0%, 0%, 0);
  color: hsl(224, 23%, 55%);
}
.cta__cancel:hover {
  color: black;
}

.attribution {
  color: var(--primary-background-color);
}
