@-webkit-keyframes transparent-to-opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transparent-to-opaque {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  font-size: 0.8125rem;
  --clr-primary-background: hsl(210deg, 46%, 95%);
  --clr-moderate-violet: hsl(263deg, 55%, 52%);
  --clr-very-dark-grayish-blue: hsl(217deg, 19%, 35%);
  --clr-very-dark-blackish-blue: hsl(219deg, 29%, 14%);
  --clr-white: hsl(0deg, 0%, 100%);
  --clr-light-gray: hsl(0deg, 0%, 81%);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-primary-background);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: grid;
  grid-template-areas: "testimonial-1" "testimonial-2" "testimonial-3" "testimonial-4" "testimonial-5";
  gap: 2em;
  margin: 5em auto;
  width: min(90%, 1080px);
}
@media (min-width: 490px) {
  .main {
    grid-template-areas: "testimonial-1 testimonial-1" "testimonial-2 testimonial-3" "testimonial-4 testimonial-4" "testimonial-5 testimonial-5";
  }
}
@media (min-width: 678px) {
  .main {
    grid-template-areas: "testimonial-1 testimonial-1 testimonial-2" "testimonial-3 testimonial-4 testimonial-4" "testimonial-5 testimonial-5 testimonial-5";
  }
}
@media (min-width: 960px) {
  .main {
    grid-template-areas: "testimonial-1 testimonial-1 testimonial-1 testimonial-2 testimonial-5" "testimonial-3 testimonial-4 testimonial-4 testimonial-4 testimonial-5";
  }
}
.main .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 2em;
}
.main .testimonial:is(:hover, :focus) {
  scale: 1.025;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.main .testimonial:nth-child(5n+1) {
  grid-area: testimonial-1;
  -webkit-animation: transparent-to-opaque 1300ms ease-in-out forwards;
          animation: transparent-to-opaque 1300ms ease-in-out forwards;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: right 5em top;
  background-color: var(--clr-moderate-violet);
  color: var(--clr-white);
}
.main .testimonial:nth-child(5n+2) {
  grid-area: testimonial-2;
  -webkit-animation: transparent-to-opaque 1400ms ease-in-out forwards;
          animation: transparent-to-opaque 1400ms ease-in-out forwards;
  background-color: var(--clr-very-dark-grayish-blue);
  color: var(--clr-white);
}
.main .testimonial:nth-child(5n+3) {
  grid-area: testimonial-3;
  -webkit-animation: transparent-to-opaque 1100ms ease-in-out forwards;
          animation: transparent-to-opaque 1100ms ease-in-out forwards;
  background-color: var(--clr-white);
  color: var(--clr-very-dark-grayish-blue);
}
.main .testimonial:nth-child(5n+4) {
  grid-area: testimonial-4;
  -webkit-animation: transparent-to-opaque 1200ms ease-in-out forwards;
          animation: transparent-to-opaque 1200ms ease-in-out forwards;
  background-color: var(--clr-very-dark-blackish-blue);
  color: var(--clr-white);
}
.main .testimonial:nth-child(5n) {
  grid-area: testimonial-5;
  -webkit-animation: transparent-to-opaque 800ms ease-in-out forwards;
          animation: transparent-to-opaque 800ms ease-in-out forwards;
  background-color: var(--clr-white);
  color: var(--clr-very-dark-grayish-blue);
}
.main .testimonial .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25em;
}
.main .testimonial .header img[alt="Profile picture"] {
  border-radius: 50%;
  border: 2px solid;
  height: 2.5rem;
  aspect-ratio: 1;
}
.main .testimonial .header .title__name {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
.main .testimonial .header .title__verified {
  opacity: 0.5;
  font-size: 0.85rem;
}
.main .testimonial__body {
  opacity: 0.7;
}
.main .testimonial__body::before {
  content: open-quote;
}
.main .testimonial__body::after {
  content: close-quote;
}

.attribution {
  font-size: 1.2rem;
  color: var(--clr-primary-background);
}/*# sourceMappingURL=main.css.map */